@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

html {
    scroll-behavior: smooth;
  }


body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.space{
    padding-top: 120px;
}

.header{
    right: 0;
    background-image: linear-gradient(
        rgb(42, 40, 37) 0%,
        rgba(34, 25, 14, 0.339) 50%,
        rgba(34, 25, 14, 0.149) 65%,
        rgba(34, 25, 14, 0.075) 75.5%,
        rgba(34, 25, 14, 0.037) 82.85%,
        rgba(34, 25, 14, 0.019) 88%,
        rgba(34, 25, 14, 0) 100%
        );
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    font-size: smaller;
    float: left;
    margin: 0 5px;
}

.navbar ul{
    margin-top: 3vh;
    margin-right: 10px;
}

.navbar h2{
    font-size: x-large;
    margin-left: 20px;
    margin-top: 7px;
}

.maincontent .intro{
    display: flex;
    justify-content: space-between;
}

#bannerintro{
    display: flex;
    float: left;
    width: 45%;
    border-radius: 0px 30px 30px 0px;
}

#introtext{
    padding-left: 30px;
    padding-top: 15px;
}

#gallery{
    border-radius: 25px;
    max-width: 75%;
    height:auto;
    margin:auto;
}

.imgborder{
    border-radius: 10px;
}

.toolslist ul{
    justify-content: space-between;
    display: flex;
}

.toolslist ul li{
    padding-left:10px;
    padding-right:10px;
}

#threegames{
    border-radius: 25px;
    max-width: 50%;
    height:auto;
    margin:auto;
}